@tailwind base;
@tailwind components;
@tailwind utilities;

.cdk-drag-preview {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
